#main {
    background-color: #fffce2;
    width: 80%;
    text-align: center;
}

p {
    font-size: 22px;
}

#start{
    width:100px;
    height: 40px;
    padding: 5px;
    font-family: "Upheavtt", Helvetica, sans-serif;
    font-size: 20px;
    background-color: black;
    color: white;
    border: 0px;
}